anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi 
cffi
charset-normalizer
click
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fake-useragent
keybert
fastjsonschema
filelock
flask
fonttools
huggingface-hub
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
jieba @ git+https://github.com/APCLab/jieba-tw.git@2bd4c0913cdadc865879b21a00c78e28ef1ba2c5
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
nose
notebook
notebook_shim
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
PyMySQL
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
requests
requests-file
scikit-learn
scipy
Send2Trash
sentence-transformers
sentencepiece
six
sniffio
snownlp
soupsieve
stack-data
sympy
terminado
textblob
threadpoolctl
tinycss2
tldextract
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
